.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-bottom: var(--space-4);
}

.contentCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);
}

.headerCard {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  margin-bottom: var(--space-6);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.options {
  display: flex;
  gap: var(--space-3);
}

.navOption {}

.navOptionHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-6);
}

.cardHeaderTesting {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-bottom: var(--space-6);
}

.testingButtons {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  margin-bottom: var(--space-6);
}